/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* write your CSS code here */
ul.post-meta {
	display: none;
}

.wp-block-preformatted, .wp-block-verse {
	background-color: white;
	border-color :transparent;
	font-family: 'PT Serif', serif;
	font-family: 'EB Garamond', serif;
	font-size: default;
	color:#121212;
}

.powered-by-wordpress { display:none; }

.main-nav ul li a {
	text-transform: uppercase;
}
